// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-decoration: none;
  color:black;

}

p, a {
  font-family: 'Roboto', sans-serif;
  color: #377bb5;
  text-decoration: none;
  font-size: 16px;
}

.border-top{
  border-color: grey;

}

h2{
  size:10px;

}

li {
  list-style-type: none;

}


